* {
    margin:0px;
    padding:0px;
    font-family:Helvetica;
    cursor:default;
}

body {
    background: url(background.jpg);
}

ul {
    margin:0px;
    padding:0px;
    list-style:none;
}

.wrapper {
    width:70%;
    margin:20px auto;
    min-width:700px;
    max-width:1200px;
}

.header {
    text-align:center;
}

.menu{
    border-radius:5px;
    min-width:400px;
    height:30px;
    margin: 0 auto;
    font-weight:bold;
    font-size:0;
    /*убирает отступы, создаваемые браузером для inline-block*/ 
}
.menu a {
    text-decoration:none;
	color: #fff;
} 

.menu div{
    display:inline-block;
    position:relative;
    background-color:#000;
	width:25%;
    height:25px;
    padding-top:5px;
    list-style:none;
    text-align:center;
    font-size:12px;
}

/*-- подменю --*/
.menu div ul{  
    position:absolute;
    display:none;
    width:100%;
    top:30px;
}  

.menu ul li{
    background-color:#2E2E2E;
    padding:5px 0px;
}

.menu div:hover, .menu div li:hover{
    background:#04B4AE;
}

.menu div:hover ul{
    display:block;
}

.sideBar {
    margin-top:200px;
    float:left;
    width:200px;
    position:fixed;
}

.content {
    margin:20px 0px 0px 220px;
}

/*Icon Gallery*/
.iconGallery img {
    width:150px;  /* Image resize */
    padding:5px 5px 0px 0px;
}
/*Icon gallery end*/