*{
	margin: 0 0%;
	padding: 0;
	
}

ul li {
display:inline;
}


.plomb{
   float: right;
   width: 175px;
}



.plomb2Serv{
	float: right;
    margin: -40px 270px 0 0;
}

.paddModel{
	float: left;
	margin: 5px 0 0 100px;
}

.factoryLeft{
   float: left; 
   margin-right: 240px;
   width: 175px;
}


.alignFormL{
	float: left;
}

.alignFormR{
	float: right;
	margin: 0 80px;
}

.padd_table{
	height: 20px;
	
}

.twice_table{
	width:400px;
}

.arrow1{
	
	width: 40px;
	height: 40px;
}

.arrow2{
	width: 40px;
	height: 40px;
	margin-top: 5px;
}
.verPO{
    float: left;
    margin-top: 5px;
}

.divPO{
	float: right;
	margin: 0px 0px 0 20px;
}
.tbl1{
	margin-top: 20px;
	width: 40%; 
	height: 100%;  
	float: left;  
	background-position: top left;
	/*margin-left: 40px;*/
}

.tbl2{
	margin: 100px 30px 0 30px;
	width: 15%;
}

.tbl3{
	width: 40%; 
	height: 100%;
	float: right;   
	background-position: top right; 
	margin-top: -125px;
}

.tbl4{
	margin-top: 20px;
	width: 100%; 
	height: 100%;  
	float: left;  
	background-position: top left;
	/*margin-left: 40px;*/
}

.liner{
	margin-top: 50px;
	border-bottom: 1px solid #C4C2C2;
	width: 1000px;
 }
 
.filter{
   float: right;
   margin-left: 400px;
   margin-top: -30px;
   }
   
   
fieldset {
-webkit-border-radius: 8px;
-moz-border-radius: 8px;
border-radius: 8px;
}

.plomb1{
    float: left;
    margin-right: 300px;
    margin-top: 20px;
    margin-left: 15px;
}

.plomb2{
	float: left;
	margin-left: 0px;
	margin-top: 20px;
}

.plomb3{
	float: left;
	margin-left: -24px;
	margin-top: 20px;
}

.plomb4{
	float: left;
	margin-left: 0px;
	margin-top: 0px;
}

.paddPlomb{
	float: left;
	margin: 5px 0 0 40px;
}



.paddUpper{
	margin: 10px 0 10px 50px;
}

.upperPadd{
	float: left;
	margin-right: 100px;
}

.upperContrag{
	margin:0 -40px 0 -40px;
}

#Rasplomb{
	
}

#Oplomb{

}

.repairePhase{
	margin-left: 25px;
	margin-top: 20px;	
	float: left;
}
.employerStuff{
	float: left;
	margin-top: 20px;
	margin-left: 35px;
}

.contragentPaddInServ{
	float: right;
	margin-right: 300px;
}

.mainPaddInServ{
	float: right;
	margin-right: 70px;
}

.dataInServ{
	margin: 0 0 0 150px;
    float:left;
}

.numInServe{
	float:left; 
    margin-left: 40px;
    margin-top: 5px;
}

.packt{
	float: right;
    margin-right: 260px;
    margin-top: -40px;
}
.printActServ{
	float: left;
	margin-left: 10px;
}
.numPaddServe{
	margin-left: 105px;
}
.saveServ{
	float: left;
	margin-right:10px;
}
.cancelServ{
	float: right;
	margin-right: 0px;
}
.printServ{
	float: left;
	margin-left:45px;
}
.dataInServeEnd{
	margin: 10px 0 0 94px;
    float:left;
}
.docExplServe{
	float: left;
	margin-top: 3px;
	margin-left: 30px;
}
.plomb1Serve{
	margin-top: 20px;
	margin-left: 75px;
}
.fiskalNo{
	float:right;
 margin-right: 260px;
    margin-top: -35px;
    margin-bottom: 10px;
}

.factoryNo{
	margin: 10px 0 10px 30px;
}

#compArea{
	  margin-right: 168px;
      margin-top: 10px;
}

.componentArea{
	
    margin-top: 10px;
    float: left;
    margin-left: 63px;
}
.listNum{
	margin-left: 4px;
	margin-top: 4px;
}
.listNumber{
	float: left;
	margin-top: 4px;
	margin-right: 5px;
}
.listDiv{
	margin-left: 40px;
}
.dateOplomb{
	float: left;
    margin: -28px 0 0 470px;
}
.plomb2{
	  float: right;
    margin-right: 340px;
    margin-top: -40px;
    
}

.modelTech{
	 float: left;
   
    margin-top: 20px;
    margin-left: -15px;
}
.adressContragent{
	float: right;
    margin-right: 430px;
    margin-top: -70px;
}

.contrInfo{
	float: left;
	margin-left: 65px;
}

.areaFiskal{
	float: left;
	margin: 0px 0px 0 65px;
}
.nds20{
	margin: 10px 0 0 20px;
}
.nds0{
	float: right;
    margin-bottom: 10px;
    margin-right: 300px;
    margin-top: -27px;
}

.inpMonth{
	    float: left;
    margin-bottom: 20px;
}

.padMonth{
	margin-left: 310px;
}

.summMoney{
	margin-top: 30px;
	margin-left:10px;
	margin-bottom: 20px;	
}

.inpSumMoney{
 
}

.contragentGr{
	margin-top: 5px; 
	margin-right: 3px;
	margin-left: 20px;
}
.leftPadd{
	float: left;
	margin-left: 20px;
}

.mainGr{
	float: left; 
	margin-top: 4px;
	margin-left: 20px;
}

.modelGr{
	float: left;
	margin-left: 20px;
}

.mainSur{
	float: left; 
	margin-left: 10px;
}

.payAct{
	float: left;
	margin-top: 3px;
	margin-right: 300px;
	margin-left: 20px;
}

.plomb1Repair{
	float:right; 
    margin: 10px 30px 0 0;
}

.rasplombRep{
	float: right; 
    margin-right: 45px;
}

.reasonRep{
	margin-top: 5px;
	margin-left: 0px;
}

.actNumRep{
	margin-top: 5px; 
	margin-right: 20px;
}

.dataRep{
	float: right; 
	margin-right: 400px;
}
.mainRep{
	float:right; 
	margin-top: -40px;
}

.factAdrContr{
	float: left; 
	margin-left: 120px;
}
.checkPay{
	margin-left: 35px;
	margin-top: 280px;
}

.timeOplomb{
	margin-top: 10px;
	margin-left: 20px;
	margin-bottom: 10px;
}

.plomb2Rep{
	margin-top: 37px;
	float:right;
	margin-right: 15px;
}

.addrServ{
	margin-left: 20px;
}

.exitContr{
	float: right;
	margin-right: 145px;
}

.ownForm{
	float: right;
	margin-right: 60px;
}
.erpoy{
	float: right; 
	margin-right: 50px;
}
.wForm{
	width: 450px;
}
.exitContr{
	float: right;
	margin-right: 145px;
}
.formOwn{
	float: right;
	margin-right: 50px;
}
.erpoyForm{
	 float: right; 
	 margin-right: 50px;
}
.summEquip{
	float:right;
	margin: -55px 130px 0px 0px;
}

.dateOnEquip{
	margin-top: 70px;
	margin-left: 50px;
}
.sortDoc{
	float:left;
	margin: 5px 0 0 65px;
}
.sortFrom{
	float:left;
	margin-top:3px;
}
.dataExpl{
	margin: 30px 0 0 0px;
}
.mainExpl{
	margin-right: 40px;
}
.addrExplF{
	float: left;
	margin-top: 5px;
	
}
.actExpl{
	float: right;
	margin-right: 300px;
}
.fiskalExpl{
	float: left;
	margin-left: 49px;
}
.factNumExpl{
	float: left;
	margin-left: -5px;
}
.dataMadeExpl{
	float: left;
	margin-left: 19px;
}
.timePlombExpl{
	float: right;
	margin: 0px 50px 0 20px;
}
.printExpl{
	float: left;
	margin-left:45px;
}
.printExplSp{
	float: left;
	margin-left: 10px;
}
.saveExpl{
    float: left;
    margin-right:10px;
}

.contrEq{
	margin-top: 5px; 
	margin-right: 3px;
}
.factAdrEq{
	float: left; 
	margin-left: 120px;
}
.verPOEq{
	float:left;
	margin-top: 5px;
	margin-left: 80px;
}
.dateMakeEq{
	float: left; 
	margin-left: 120px;
}
.charactEq{
	float:left;
	margin-top: -22px;
	margin-left: 84px;
}
.rasplombEq{
	float: left;
	margin-top: 3px;
	margin-left: 30px;
}
.plomb2Eq{
	float:left;
    margin: 0px 0 0 40px;
}
.timeRasplEq{
f   loat: left;
	margin-left: 20px;
	margin-bottom: 10px;
}
.timeOplEq{
	margin-top: 45px;
}
.checkPayEq{
	margin-top: 270px;
}
.dateOnEq{
	margin-top: 70px;
	margin-left: 44px;
}
.printActEquip{
	float: left; 
	margin-left: 45px;
	margin-top: 20px;
}
.saveEq{
	float: left; 
	margin-right: 10px;
}
.dateMadeEq{
	margin-left: 30px;
}

.equipDiv{
	margin-top: -40px;
}
.fiskContrEq{
	float: left;
	margin-left: 20px;
    margin-right: 120px;
}
.numExit{
float: left;
	margin-right: 100px;
	margin-left: 110px
}
.contrEx{
	 margin-left: 20px;
}
.dateEx{
	margin-top: 30px;
}
.mainEx{
	 margin-right: 150px;
}
.factAdrEx{
	float:left; 
    margin: 5px 0 0 60px;
}
.numActEx{
	float: left; 
	margin-left: 50px;
}
.timePlombEx{
	float: right; 
	margin: 0px 50px 0 20px;
}
.timePlomb2Ex{
	float: left; 
	margin-top: 5px;
}

.dataOutB{
	float:right;
	margin-top:0px; 
	margin-right: 380px;
}
.dataDocBill{
	margin-top:3px; 
	float: left;
}
.buttonBill{
	margin: 0px 450px;
}
.saveOutBill{
	float: left;
	margin-left:690px;
}
.numDocBill{
	 float: left;
    margin-left: 450px;
    margin-top: -40px;
}
.docTransfer{
	float:left;
	margin-left: 20px; 
	margin-top: 7px;
}
.dataTransfer{
	margin-left: 280px;
	margin-top: -30px;
	
}
.donorTransf{
	margin-top: 5px; 
	margin-right: 3px;
}
.fAdrTransf{
	float: left; 
	margin-left: 120px;
}
.fAdrPad{
	margin-top: 5px;
}
.contrReceiver{
	float: left;   
	margin-right: 300px;
	margin-left: 20px;
}
.checkboxTransf{
	float:left; 
	margin-top: 10px; 
	margin-left: 30px;
}
.mainTransf{
	float: left; 
	margin-left: 10px;
}
.factoryNum{
	float:left;
	margin: 0px 0 0 100px;
}
.receiveTransf{
	float: left; 
	margin-right: 10px;
}









